{% extends "sidebar-base.html" %}

{% block title %}Meredith's Non-Profit Outreach{% endblock %}

{% block leftcolumn %}

<h1>My Non-Profit Outreach Project</h1>
<p>Forays I've made into technology have shown me that seemingly minor decisions can drastically affect the present and future success of a website.  So I'm on a new mission:</p>

<p><b>Help nonprofits develop a better Web presence.</b></p>

<p>I've been involved with nonprofits for years, doing both fundraising and <a href="http://meredithmcghan.com/media/documents/technical/voting-restoration-nevada-2008.pdf" target="_blank">advocacy</a>. I'm proactively scouting out good causes, and offering my insights about the following issues (and/or assisting in fixing them):</p>

<ul>
<li>The organization does not own its domain name</li>
<li>The group cannot be found on a Web search of its name and/or services</li>
<li>Web writing with grammar, punctuation, and spelling errors</li>
<li>Wordiness with no keywords or phrases</li>
<li>No clear brand that sets the organization apart</li>
<li>Pages that are hard to navigate</li>
<li>Awkward URLs (too long or ending in things like index.php)</li>
<li>Graphics that look like clip art, not unique</li>
<li>A logo that does not convey information</li> 
<li>Slow-loading pages</li>
<li>Poor color, typography, and layout choices</li>
<li>Lack of transparency, no sense of being a legitimate organization</li>
<li>No website, relying solely on social media for their Internet presence</li>
</ul>
 
<p>Each of these weaknesses can lead to greater problems, and most sites that have one of these issues have several. Ultimately, having a bad website--or none--will hurt an organization's membership, donations, and effectiveness.</p>

<p>The Internet is complex, and it's easy to be unaware of consequences. As I was making <a href="http://meredithmcghan.com" target="_blank">meredithmcghan.com</a>, I blogged on a lot of the topics I was learning about. Recently I described the maze of issues involved in just <a href="http://blog.meredithmcghan.com/post/47839306468/cloud-cookbook-future-proofing" target="_blank">putting your recipes online</a>...and that is nothing compared to the set of rules that come into play when managing something far more important like an organization's entire online identity!</p>

<p>You can read some of my findings about the domain name system:</p>

<ul>
<li><a href="http://blog.meredithmcghan.com/post/35669020900/controlling-online-content" target="_blank">Domains Part I: How Important is it to Control Your Online Content?</a></li>
<li><a href="http://blog.meredithmcghan.com/post/35670573645/domains-part-ii-future-proofing-your-links-by-owning" target="_blank">Domains Part II: Future-Proofing Your Links By Owning Your Domain Name</a></li>
<li><a href="http://blog.meredithmcghan.com/post/35673059184/turnkey-blogging-domain-ownership" target="_blank">Domains Part III: Outsource Tech (but not Identity) with Turnkey Blogging Under Your Sub-Domain</a></li>
</ul>

<p>As well as some of my thoughts on the value of branding:</p>

<ul>
<li><a href="http://blog.meredithmcghan.com/post/47971729029/personal-branding" target="_blank">My Personal Brand (and Why It's Important to Have One)</a></li>
<li><a href="http://blog.meredithmcghan.com/post/48180241168/logos-and-taglines-and-why-its-important-to-have" target="_blank">Logos and Taglines (and Why It's Important to Have Them)</a></li>
</ul>

<p>While I obviously don't know everything yet (!), the last year has taught me a lot. I'm eager to volunteer what I know by pointing out what I can, and will do work at a discounted rate for 501(c)(3) organizations. If anything comes up that requires more programming or graphic design talents than my modest present abilities, I can call upon my wizard friends who share my desire to help good causes to coordinate getting it done.</p>

<p>There's my plan. But if I don't contact you, feel free to <a href="http://meredithmcghan.com/contact">Contact Me</a>!</p>

{% endblock %}
