{% extends "base.html" %}

{% block title %}Meredith's Technical Writing{% endblock %}

{% block body %}
<!--All the links referenced under the header will have to be created as none of 
these stories are online anywhere.-->
<h1>Arts, Entertainment, & Lifestyle</h1>
<p>I started my career as an arts and entertainment writer, and I've included a few of 
the most fun reviews I ever had the pleasure to write in those early days. If I have to
pick an all-time early favorite, though, it'd have to be the story on a Flash animation
series which was one of the earliest on the Internet:
<a href="http://meredithmcghan.com/arts-entertainment-and-lifestyle/radiskull">"Radiskull and Devil Doll."</a>
I even had a Candy Angel t-shirt, which I wore until the decal cracked and faded into
oblivion:</p>

<img src="http://meredithmcghan.com/media/candy-angel.jpg" alt="picture of the candy angel character" />

<p>However, I always identified more with Radiskull, since without frequent cups of
coffee (boiling hot!) he is prone to narcolepsy, and without caffeine none of this &mdash;
or anything of mine &mdash; would have been written. I also  
<a href="http://youtube.com/watch?v=q1Wi0bV6hgs">hate snow</a></p>

<p>Living and writing in Las Vegas for several years, I had many opportunities to see
some pretty awesome shows. Of all the shows on the Strip, the
<a href="http://meredithmcghan.com/arts-entertainment-and-lifestyle/blue-man-group">Blue Man Group</a>
and the offerings of Cirque du Soleil, such as 
<a href="http://meredithmcghan.com/arts-entertainment-and-lifestyle/mystere">Mystere,</a>
were my favorites.</p>

<p>As a contributing editor for two lifestyle startup magazines, 
<a href="http://meredithmcghan.com/arts-entertainment-and-lifestyle/belifestyle"><i>Business Executive Lifestyle</i></a>
and the suburban versions of Las Vegas' 
<a href="http://meredithmcghan.com/arts-entertainment-and-lifestyle/whats-on"><i>What's On!</i></a>,
I wrote copy, hired freelancers and assigned pieces to them, and copyedited other writers'
work. I helped plan the editorial calendar, and even picked up a bit of graphic design
knowledge along the way.</p>
{% endblock %}
