<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
<!-- Regarding the "meta charset" above...to build good sites, how deeply must I understand character encoding? All I know at the moment is that it must come in the first 512 characters and  before content elements. All this comes from:

    http://www.sitepoint.com/a-basic-html5-template/#fbid=kU5lgNGeCp3

As well as guidelines at www.dontfeartheinternet.com. I don't know why it is 8 or if that refers to text size or what.  I believe meta tags need to be *in* the head section. -->

	<!-- Don't Fear the Internet says the title must come after the head, but SitePoint puts it after the charset and is headless. Why? (Yes, I am the Louis C.K.'s daughter of coding. BTW I put a head in anyway).-->
	<title>{%block title %}Meredith McGhan{% endblock %}</title>

	<meta name="description" content="Meredith McGhan's writing">
	<meta name="author" content="MeredithMcGhan">

	{% block css %}
	{% endblock %}

	{% block scripts %}
	{% endblock %}

</head>

<body>
{% block body %}
	<p>There is no content in the body block by default, but I'm putting this explanatory text here.  :)  If you were to try and use "base.html" explicitly in Django (instead  of a templated file that inherits from base, such as "index.html") then you would see this paragraph.  Or, if you *forget* to override block body in an inheriting template, then you would see this text.  In practice, this should never happen...but I'm leaving this here as an alert!!!</p>
{% endblock %}

	<!--SitePoint said that whenever technically possible, you get a speed advantage by putting your scripts at the bottom of the body of the page.  How important is this, really?  Review. -->
	<!-- <script src="foo.js"></script> -->
</body>
</html>


