{% extends "sidebar-base.html" %}

{% block title %}Commentary{% endblock %}

{% block leftcolumn %}


<h1>Commentary</h1>
<p>As a freelancer for Las Vegas <i>CityLife</i>, I was offered a monthly slot in the rotating weekly opinion column, "Slant". The only rule was that subject matter for columns had to be of local interest. I've included a brief selection of my "Slant" columns here. I chose a few of the pieces I was proudest to have written&mdash;some garnered praise from my editors and/or fan mail (or hate mail, as the case may be). As an opinion writer, I chose topics I felt needed to be addressed in the local community, but also related to the world beyond Las Vegas. Rampant urban growth, global warming, immigration, and ethics violations are timely issues everywhere. Click on the link below to read the columns.</p>
<p><a href="{% url slant_gallery %}">Slant opinion columns</a></p>
<p>Getting personal is also appropriate in an opinion column. I consider these to be a bit different than a call-to-arms sociopolitical commentary. The personal columns are more along the lines of creative nonfiction. I wrote about my experience as an introvert in the extrovert's playground that is Las Vegas. I also wrote about what it was like to return for a visit to my hometown. Click the link below to read about seeing Flint, Michigan through new eyes after a long absence.</p>
<p><a href="{% url flint %}">You Really Can't Go Home Again</a></p>
<p>I try to be aware, when writing personal stories, that they shouldn't involve too much navel-gazing. They should be about experiences readers can relate to. Otherwise, they're no more than diary entries. I appreciated the chance to write something humorous for a change when I wrote about what it was like to be a new teaching assistant. Click the link below to read my confession.</p>
<p><a href="{% url ta_confessions %}">Confessions of a Teaching Assistant</a></p>


{% endblock %}
