{% extends "sidebar-base.html" %}

{% block title %}Contact Meredith McGhan{% endblock %}

{% block leftcolumn %}
<h1>Contact Me</h1>

<p><a href="http://meredithmcghan.com/media/meredith-photo.png" target="_blank"><img src="http://meredithmcghan.com/media/meredith-photo.png"  style="width: 325px; height: 325px;" /></a></p

<p>Feel free to get in touch if you think I can help you with any writing or web needs...or just to say hi!</p>

<ul>
<li>Email: <tt>meredithmcghan@gmail.com</tt></li>
<li><a href="http://www.linkedin.com/pub/meredith-mcghan/8/607/788">LinkedIn Profile</a></li>
<li><a href="https://www.facebook.com/meredith.mcghan.77">Facebook Profile</a></li>
</ul>
{% endblock %}
