{% extends "sidebar-base.html" %}

{% block title %}Site Credits{% endblock %}

{% block leftcolumn %}
<h1>Site Credits</h1>

<p>Server-side code written in <a href="http://djangoproject.com">Django</a></p>

<p>CSS template derived from a 2-column layout by <a href="http://matthewjamestaylor.com/blog/perfect-2-column-right-menu.htm">Matthew James Taylor</a></p>

<p>Phoenix design from <a href="http://www.tattoowoo.com/index.php?main_page=index&cPath=4">TattooWoo</a></p>

<p>Ink blot brushes for "Phoenix From The Ink" Logo from <a href="http://frostbell.deviantart.com/art/INKBLOT-Photoshop-Brush-Set-73055503">~frostbell on deviantART</a></p>

<p>blog.meredithmcghan.com subdomain is hosted by <a href="http://tumblr.com">Tumblr</a></p>

{% endblock %}
