{% extends "sidebar-base.html" %}

{% block title %}Meredith's Arts, Entertainment & Lifestyle{% endblock %}

{% block leftcolumn %}
<h1>Arts and Entertainment</h1>

<h2>Arts and Entertainment Writing</h2>
<p>My academic background includes courses on performance art and literary symbolism. On my own, I've delved into diverse reading material in topics like world mythology, science, and artistic movements. This reading has given me a natural inclination to see patterns in artistic creations, and situate current arts in a theoretical and historical context.</p>
<p><i>What's On: The Las Vegas Guide</i> was a free, slick-paper guide to arts, entertainment, and leisure activities in the Las Vegas area. It provided a detailed look at shows on the Vegas Strip, restaurants, state parks, and other local attractions. Click on the link below for samples of my freelance work for <i>What's On</i>.</p>
<p><a href="{% url whats_on_gallery %}">Blue Man Group and Mystere stories</a><p>
<h2>Internet Writing</h2>
<p>Back in 2001 when I was still relatively new at freelancing, I landed a gig writing for Zap2it.com, one of the first online entertainment digests. I wrote a vast number of capsule reviews for them and a number of features. My favorite of these was an interview with the creator of one of the first webtoons and originator of one of the first Internet memes.</p>
<p>Memes are ideas that proliferate and replicate with changes when they are passed from person to person. Internet memes&mdash;catchphrases that spread online&mdash;are the fastest-spreading of all. You've probably heard some of them: "All your base are belong to us!" "I can has cheeseburger." "It's time to kick it now!"</p>
<p>Webtoons, or cartoons made for the Internet, are a rich source of these memes. One of the early ones was "Radiskull and Devil Doll", created in Flash by Macromedia animator <a href="http://joesparks.com">Joe Sparks</a>. The show featured a punk-rock disembodied skull and his cute little devil sidekick. Every episode ended with the announcement that it was time for the pair to "kick it"&mdash;which meant that they performed a catchy song. (Now you know where the phrase came from, if you didn't before.)</p>
<p>I interviewed Sparks, who seemed on the brink of a promising career as a webtoon animator. Click on the link below if you're interested in reading the interview.</p>
<p><a href="{% url radiskull %}">Radiskull and Devil Doll Kick It Some More</a></p>
<p>The show was quite popular. One of the most interesting things about "Radiskull and Devil Doll" was that it garnered a huge fan base whose members made a massive amount of tribute material&mdash;costumes, dolls, tattoos, art, and more.</p>
<p>Unfortunately, about six months after my interview with Sparks, he was let go in a massive layoff. The company owned the copyright to the 'toon, and blocked its creator from doing anything more with it. Its fate is one of many examples of how copyright law can actually disenfranchise the originator of an idea&mdash;a subject I'll address at greater length in an upcoming blog post.</p>


{% endblock %}
