{% extends "base.html" %}

{% block content %}
<!--The self-portrait headshot sketch will go to the right of the paragraph text. It 
needs to be scanned and improved in PhotoShop.  Are the header elements indented for 
the computer or the humans?
Two options:
1.Instead of a header in text we can use a scan of my signature as an img. 
2. Use text, and when applying CSS3, make my name black cursive script using a cool 
open source font. Make the words content in context gray becoming white with a bit of 
overlap on the large signature (hello again, PhotoShop).-->

<h1>Meredith McGhan<br>
content in context</h1>

<!--Yes, I know this "elevator pitch" may need editing. I'm taking a stab at owning the 
whole "content/context" wordplay, looking marketable and at the same time showing that I 
can go deeper than the heuristic approach on my own time. :)-->

<p>I'm Meredith McGhan, a writer and editor with a multidisciplinary background. 
I specialize in the general -- creating "content in context" by ferreting out the most 
important information a given audience needs and crafting it into a form they'll 
understand.</p>

<p>As a former print-only journalist and college English teacher, I'm exploring 
multimedia and other technologies as they relate to communication and education.
See my blog <a href="http://tumblr.com/blog/meredithmcghan">Phoenix from the Ink</a>
for more on these and other topics.</p>

<p>If you want to hire me for freelance or contract work, or just say hi, 
<a href="http://meredithmcghan.com/contact">here's</a> how.</p>

<!--Same script as my name. List will appear as an "accordion." I think it might be cool
if the accordion sections appeared as book spines...-->
<h3>Portfolio</h3>
<ul>
	<li><a href="http://meredithmcghan.com/technical-writing">Technical Writing</a></li>
	<li><a href="http://meredithmcghan.com/investigative-journalism-and-news">Investigative Journalism & News</a></li>
	<li><a href="http://meredithmcghan.com/marcomm-and-trade-publications">MarComm and Trade Publications</a></li>
	<li><a href="http://meredithmcghan.com/arts-entertainment-and-lifestyle">Arts, Entertainment & Lifestyle</a></li>
	<li><a href="http://meredithmcghan.com/commentary-and-creativity">Commentary & Creativity</a></li>
	<li><a href="http://meredithmcghan.com/resume">Resume</a></li>
</ul>
{% endblock %}
