{% extends "sidebar-base.html" %}

{% block title %}Meredith's Reporting{% endblock %}

{% block leftcolumn %}

<h1>Journalism</h1>
<h2>Environmental News</h2>
<p>I wrote for Las Vegas <i>CityLife</i>, an alternative weekly, for several years, first as a staffer and later as a freelancer. I met the <i>CityLife</i> editorial team when I won the magazine's fiction and poetry contest.</p>
<p>I started as a part-time newsroom assistant while still in graduate school and teaching classes as a TA. After my last semester of coursework, they offered me a full-time job as calendar editor and staff writer. This position involved all phases of newsroom production. I maintained a lengthy events calendar for the metropolitan Las Vegas area, wrote stories, and copyedited the work of other writers. I also contributed ideas to the magazine's redesign. At my suggestion, the calendar was pared down considerably, with important events highlighted.</p>

<p>Las Vegas, being a heavily populated desert city, dealt with many sustainability issues. I've chosen three stories as examples of how commerce, science, and politics can clash in our increasingly turbulent era. With its years-long drought, excess-driven economy, and early vulnerability to the recession, Las Vegas is a harbinger of climate change and economic boom-bust cycles for the rest of the country. Click the links below to read.</p>
<p><a href="{% url less_than_zero %}">An experimental "zero energy" house in the desert</a></p>
<p><a href="{% url at_what_cost %}">Water shortage issues in a Southwestern state</a></p>
<p><a href="{% url greening_vegas %}">An architect imagines a greener Las Vegas</a></p>

<h2>Community Issues</h2>
<p>I'm drawn to seek out stories that show the vast amount of improvement needed in our society's institutions &mdash; whether schools, nursing homes, or shelters. It's clear that the warehousing of persons often leads to neglect and abuse, and that people need the economic and legal freedom to engage alternatives. Click below to read cover stories that addressed these issues.</p>
<p><a href="{% url cover_stories_gallery %}">Cover stories on community issues</a></p>

<p>Perhaps idealistically, I grew up thinking of "the news" as an abstract institution, one whose purpose was to keep the others in check. That's why I included the story about a video news release featuring a public relations spokesperson that one of the Las Vegas TV stations aired as real news. This was published online at Nevada Today (nvtoday.com). This was a web magazine dealing with issues of social justice and politics in the state, and I wrote a number of stories for them. Click below for the text of the story on fake news.</p>
<p><a href="{% url fake_news %}">A press release masquerades as real news</a></p>
<p>Authenticity is a major concern regarding the information we receive. False information, including various forms of spam, is increasing exponentially due to the Internet. One of the most important tasks we face as modern consumers of information is learning to filter this "noise" out and recognize factual information.</p>

{% endblock %}
