{% extends "base.html" %}

{% block title %}Meredith's MarComm & Trade Publications{% endblock %}

{% block body %}
<h1>MarComm & Trade Publications</h1>
<!--When adding CSS3, change the way these are linked. There will be thumbnails, img 
undecided. Click on it to link to the scan or slideshow. External links will be kept when available.-->
<p>Straight up, I've always cringed at the idea of being a spin doctor,
so you're not going to find any "advertorial" content here that makes
extravagant claims about products that can make you hot, rich, or
thin, and you won't find anything hawking the wares of companies with
questionable business practices. I've specialized in profiles of
hardworking business owners either flying solo or in a partnership,
oftentimes with quirky, unique products. One of the more fun pieces
I've written was the one on Etsy artisans in the Las Vegas area. For
Exhibit City News, I profiled a number of women in the male-dominated
trade show industry.</p>
<!--Here are my links to other pages on this site.-->
	<ul>
		<li><a href="http://www.meredithmcghan.com/marcomm-and-trade-publications/etsy">Not Starving Artists</a></li>
		<li><a href="http://www.meredithmcghan.com/marcomm-and-trade-publications/social-clothing">A Social Light</a></li>
		<li><a href="http://www.meredithmcghan.com/marcomm-and-trade-publications/pat-friedlander">Women in the Industry: Pat Friedlander</a></li>
		<li><a href="http://www.meredithmcghan.com/marcomm-and-trade-publications/mary-carey">Women in the Industry: Mary Carey</a></li>
	</ul>
<!--Here are the links to the two stories in this section that are already online.-->
	<ul>
		<li><a href="http://vegasseven.com/ae/2010/december/16/not-starving-artists?quicktabs_1=1">Not Starving Artists</a></li>
		<li><a href="http://www.lasvegascitylife.com/articles/2006/12/14/.../iq_11361480.txt">A Social Light</a></li>
	</ul>		

<p>As a contributing editor to Great Lakes Poker and Gaming, I learned
about the gaming industry through profiling its insiders, though the
closest I've ever come to gaming(despite living in Las Vegas
for years) is playing slots a couple of times while waiting for movies
to begin. (Yes, like everything else in Las Vegas, movie theaters are
inside casinos). Understanding how the mind of an ace poker player
works is fascinating -- the combination of logic and intuition you
find among the big winners is pretty rare.
</p>
<!--Great Lakes Poker and Gaming never appeared on the Web, so we need to scan 
the covers and link to slideshows of my articles.-->
	<ul>
		<li><a href="http://www.meredithmcghan.com/marcomm-and-trade-publications/glpgmag-july-2007">Great Lakes Poker and Gaming Magazine July 2007</a></li>
		<li><a href="http://www.meredithmcghan.com/marcomm-and-trade-publications/glpgmag-sept-2007">Great Lakes Poker and Gaming Magazine September 2007</a></li>
	</ul>
<!--I have linked in the following paragraph to the article on the CityLife website. 
When the article is scanned and a link is created on my site, I want to switch to that,
but also keep the CityLife link active on the Commentary and Creativity page-->  
<p>During the worst part of the recession, before I left Las Vegas, I was
lucky enough to find work at the U.S. Census Bureau for 18 months.
About a third of that time was spent as a Census recruiter, testing
prospective enumerators. I was able to parlay this into a short-lived
position as a technical recruiter after moving to Austin. It seemed
like it might be a bridge to technical writing; it definitely garnered
me a bit of freelance, writing a few articles for business executives
about how to choose a technical recruiter. (Ultimately, technical
recruiting was not a great fit for a 
<a href="http://archives.lasvegascitylife.com/articles/2006/08/31/opinion/.../slant.txt">relatively introverted person</a> 
such as myself, and I returned to a politically oriented
day job as election season 2012 heated up, but that's another story).
</p>
{% endblock %}
<!--I plan to write a blog post about the dialer at TF, just the tech, no
criticism, and link it here.-->