{% extends "sidebar-base.html" %}

{% block title %}Meredith's Marketing Communication and Trade{% endblock %}

{% block leftcolumn %}

<!--
# didn't make portfolio cut
{% url 'social_light' %}
{% url 'industry_women' %}
{% url 'sandy_campbell' %}
-->


<h1>Marketing Communication and Trade</h1>
<h2>Freelance Work</h2>
<p>When writing magazine pieces with a marketing slant, I've specialized in profiles of hardworking business owners. For the most part, these enterprising individuals have either flown solo or worked in a partnership. Oftentimes their products are quirky and unique.</p>
<p>Etsy.com has become one of the biggest online marketplace communities. Its merchants sell vintage items, crafts, and crafting supplies. Some artisans are able to support themselves solely on income from their wares, with Etsy being their main venue. Click the link below for a story on Etsy artisans in the Las Vegas area.</p>
<p><a href="{% url 'etsy_artists' %}">Las Vegas Etsy artisans aren't starving</a></p>
 <p>For <i>BE Lifestyle</i>, I worked as a contributing editor. I edited other writers' work and wrote a number of profiles of business executives. The people the magazine focused on were successful entrepreneurs who had overcome challenges or made  contributions to the community. Click on the link below for a sample.</p>
<p><a href="{% url 'be_magazine' %}">Profiles of business leaders</a></p>
<p>I was contacted by a Michigan publisher to work as a contributing editor for the <i>Great Lakes Poker and Gaming Magazine</i>. In addition to editing most of the articles by other contributors, I profiled players for cover stories. Click the link below to see the gallery of samples.</p>
<p><a href="{% url 'poker_gallery' %}">Gallery of <i>Great Lakes Poker and Gaming</i> cover stories</a></p>
<h2>Arts Editor Position</h2>
<p>The growing population of locals in the suburban communities of Henderson and Summerlin spurred the publisher of the tourist-oriented entertainment guide, <i>What's On The Las Vegas Guide</i>, to create two sister magazines to the original. While on staff at Las Vegas <i>CityLife</i> as calendar editor/staff writer, I was offered an editorial position on the two local magazines, which both came out on a monthly basis. I left <i>CityLife</i> to become the Arts Editor for <i>What's On</i>.
<p>This was an in-house position in which I wrote copy, hired freelancers and assigned pieces to them, and copyedited other writers' work. I collected and updated listings for a comprehensive calendar of activities and attractions. I helped plan content for future issues, and picked up a bit of graphic design knowledge along the way. The staff was small, and as Arts Editor I reported directly to the Managing Editor. Our entire department consisted of five writer/editors and we employed about half a dozen local freelance writers. Click on the link below for a sample of a marketing-based story on a Las Vegas spa.</p>
<p><a href="{% url 'pumpkin_spa' %}">Local spa features seasonal treatments</a></p>
<p>I was contacted by Writing Assistance, Inc. to write a series of articles for business owners about how technical recruiters can benefit their hiring process. Click the links below to go to the articles.</p>
<p><a href="http://www.writingassist.com/resources/articles/how-to-pick-the-right-recruiter/">How to Pick the Right Recruiter</a></p>
<p><a href="http://www.writingassist.com/resources/articles/the-roi-on-using-an-outside-recruiter/">The ROI of Using an Outside Recruiter</a></p>
<p><a href="http://www.writingassist.com/resources/articles/why-hire-an-outside-recruiter/">Why Hire an Outside Recruiter</a></p>
{% endblock %}

