{% extends "base.html" %}

{% block title %}Meredith's Reporting{% endblock %}

{% block content %}
<h1>Investigative Journalism & News</h1>
<h2>Environmental News</h2>
<p>I wrote for Las Vegas CityLife, an alternative weekly, for several years, first as a 
staffer and later as a freelancer. Las Vegas, being a heavily populated desert city, dealt
with many sustainability issues. I've chosen four stories -- on 
<a href="http://archives.lasvegascitylife.com/articles/2007/12/20/news/local_news/iq_18480004.txt">water rights</a>,
<a href="http://archives.lasvegascitylife.com/articles/2006/12/07/news/local_news/iq_11223405.txt">energy usage</a>,
<a href="http://archives.lasvegascitylife.com/articles/2003/07/02/local_news/news01sierra.txt">public transportation</a>
and <a href="http://archives.lasvegascitylife.com/articles/2008/02/21/news/cover/iq_19584989.txt">growth</a>
&mdash; as examples of how commerce, science, and politics can clash in our increasingly
turbulent era. With its years-long drought, excess-driven economy, and early vulnerability
to the recession, Las Vegas is a harbinger of climate change and economic boom-bust cycles
for the rest of the country.</p> 

<!--For the bare-bones site I've just driven traffic to my stories at CityLife, but it
would be nice to fancy it up and include thumbnails leading to links on my site that go
to scans of the one-page stories and slideshows of the longer ones. My rationale for this
is that CityLife may one day purge their archives; it's happened at other publications.
(I want to keep the CityLife links in addition to my own, though). Use these URLs on 
for the material when hosted on this site.
<a href="http://meredithmcghan.com/investigative-journalism-and-news/water-rights">
<a href="http://meredithmcghan.com/investigative-journalism-and-news/energy-usage">
<a href="http://meredithmcghan.com/investigative-journalism-and-news/public-transportation">
<a href="http://meredithmcghan.com/investigative-journalism-and-news/growth">-->

<h2>Community Issues</h2>
<p>I'm drawn to seek out stories that show the vast amount of improvement needed in our
society's institutions &mdash; whether <a href="http://archives.lasvegascitylife.com/articles/2003/10/22/cover_story/coverschool.txt">schools</a>,
<a href="http://archives.lasvegascitylife.com/articles/2007/01/18/news/cover/iq_12016850.txt">nursing homes</a>
or <a href="http://archives.lasvegascitylife.com/articles/2003/09/03/cover_story/cover.txt">shelters.</a>
It's clear that the warehousing of persons can lead to various kinds of neglect and abuse,
and that people need the economic and legal freedom to engage alternatives.</p>

<p>Perhaps idealistically, I grew up thinking of "the news" as an abstract institution, 
one whose purpose was to keep the others in check. That's why I included the 
<!--This one has no link except a corrupted one on the internet archive, so it'd be better to 
scan it, but fix it so the print is bigger for this link.-->
<a href="http://meredithmcghan.com/investigative-journalism-and-news/fake-news">article</a>
about a video news release featuring a public relations spokesperson that one of the
Las Vegas TV stations aired as real news. Authenticity is a major concern regarding the
information we receive. False information, including various forms of spam, is increasing
exponentially due to the Internet. One of the most important tasks we face as modern
consumers of information is learning to filter this "noise" out and recognize factual 
information.</p>

<!--Have thumbnails leading to scans and slideshows that will be at these URLs, while
keeping the CityLife ones as well:
http://meredithmcghan.com/investigative-journalism-and-news/homeschooling
http://meredithmcghan.com/investigative-journalism-and-news/nursing-home-abuse
http://meredithmcghan.com/investigative-journalism-and-news/homeless-in-henderson-->
{% endblock %}
