{% extends "base.html" %}

{% block title %}Meredith's Technical Writing{% endblock %}

{% block content %}
<h1>Technical Writing</h1>
<p>Most of my technical writing has been for the construction and manufacturing 
industries, with forays here and there into other subjects. For me, domain matters 
less than access to knowledgeable experts and research materials, as well as awareness 
of who the audience is and the final form and use of the deliverables.</p>

<p>A selection of pages from this <a href="http://meredithmcghan.com/media/shared/carpentry">manual</a> 
for carpenters is representative of textbooks I wrote for union apprentices.</p>

<!--When adding CSS3, change the way these are linked. There will be a thumbnail, img 
undecided. Maybe carpentry clip art. Click on it to link to the slideshow.-->
<p>I wrote this legislative policy <a href="http://meredithmcghan.com/media/shared/voting-rights">report</a>
to recommend changes in the wording of a state law that returned voting rights to 
ex-felons who had been honorably discharged.</p>
{% endblock %}
