{% extends "sidebar-base.html" %}

{% block title %}Saturn Ion 2005{% endblock %}

{% block leftcolumn %}

<h1>2005 Saturn Ion</h1>

<p>I'm selling my car. It has a manual transmission, in average condition, drives well, and has 80000 miles on it.</p>

<center><a href="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/exterior-view.jpg"><img src="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/thumbs/exterior-view.jpg" alt="Front Right View of Saturn Ion" /></a></center>

<center><a href="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/rear-right-view.jpg"><img src="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/thumbs/rear-right-view.jpg" alt="Rear Left View of Saturn Ion" /></a></center>

<center><a href="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/right-view.jpg"><img src="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/thumbs/right-view.jpg" alt="Right View of Saturn Ion" /></a></center>

<center><a href="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/left-view.jpg"><img src="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/thumbs/left-view.jpg" alt="Left View of Saturn Ion" /></a></center>

<p>It's a good starter car or second car. I owe the bank $5000 :-( but do not expect to get that.  I expect <b>$3000</b> and so that's the price I've set. The included clickable photos are high-resolution, unretouched, and intended to accurately communicate the car's condition.</p>

<p><b>PLEASE READ:</b> Scheduling a test drive and in-person viewing takes a lot of time and effort.  So if you know that you do not intend to offer $3000 <i>even if the car is exactly as shown, in detail</i>, that's perfectly okay.  BUT <u>please state the price you intend to offer in the mail asking to see the car</u>.  It will be shown from higher to lower offers.  Failure to mention a lower price until <i>after</i> the car is seen--unless there's some glaring dissimilarity you find between the ad and the car--will result in your offer being rejected outright!  I'll turn around and take it to CarMax if I must. You were warned!</p>

<p>As long as that point is understood, you can email me at <b><tt>meredithmcghan@gmail.com</tt></b> if you are interested.  :-)</p>

<h2>Carfax Report</h2>

<p>Here is the Carfax report from when I bought the car in 2009: <a href="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/saturn-ion-carfax.pdf">saturn-ion-carfax.pdf</a></p>

<h2>March 2011 Collision</h2>

<p>The car has been in one accident, where the front left of my car collided with another car in one of the I-35 feeder merge lanes.  The damage was addressed and the repair done by <a href="http://www.austinmotormile.com/">AMM Collision Center</a>, which exhaustively returned the car to full warrantied mechanical function.  Here is the itemized list of what work was performed: <a href="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/saturn-ion-repair.pdf">saturn-ion-repair.pdf</a></p>

<p>As a result of the collision, there was some cosmetic warping of the driver's side wheel well. A small triangular plastic piece under the headlight had gone missing.  This damage was not significant to me, so I used not having it fixed as leverage to avoid paying the deductible:</p>

<center><a href="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/front-left-bumper.jpg"><img src="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/thumbs/front-left-bumper.jpg" alt="Front Left Bumper" /></a></center>

<h2>Exterior Cosmetics</h2>

<p>The car has a more significant cosmetic problem of paint that was scraped off the rear bumper by an anonymous assailant (while I was parked at Target :-/)</p>

<center><a href="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/rear-left-bumper.jpg"><img src="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/thumbs/rear-left-bumper.jpg" alt="Rear Left Bumper" /></a></center>

<p>The car has been keyed in the past.  But another random assailant kindly keyed the car on the front driver's side, for no apparent reason, this past Monday:</p>

<center><a href="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/front-drivers-side-door.jpg"><img src="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/thumbs/front-drivers-side-door.jpg" alt="Front Driver's Side Door" /></a></center>

<p><i>(Note: Saturns&mdash;having a plastic hull&mdash;will not rust due to such issues.  So at least there's that.)</i></p>

<h2>Interior Cosmetics</h2>

<p>The interior is in similar shape to the exterior.  Nothing too major, some discoloration and no floor mats:</p>

<center><a href="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/front-left-interior.jpg"><img src="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/thumbs/front-left-interior.jpg" alt="Front Left Interior" /></a></center>

<center><a href="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/interior-back-seat.jpg"><img src="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/thumbs/interior-back-seat.jpg" alt="Interior Back Seat" /></a></center>

<p>Radio works but the CD player does not.  A previous owner installed some kind of external audio port but then took the port and wiring but left the hole.  (Thanks, pal.)  Depending on what you want to do with the stereo, that hole could be useful&mdash;or just something you'd want to cover up with some sticky logo thing:</p>

<center><a href="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/front-center-dash.jpg"><img src="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/thumbs/front-center-dash.jpg" alt="Front Center Dash" /></a></center>

<p>The paint is wearing off the gearshift knob.  These are actually replaceable <i>(<a href="http://www.hotrodshiftknob.com/">in ways both tasteful and tasteless</a>)</i>, although it would probably look fine if you just stripped the remaining paint off and left it beige:

<center><a href="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/gearshift-knob.jpg"><img src="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/thumbs/gearshift-knob.jpg" alt="Gearshift Knob" /></a></center>

<h4>Engine and Trunk</h4>

<p>Can't tell you much about the engine, I'm not a mechanic.</p>

<center><a href="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/front-view-doors-open.jpg"><img src="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/thumbs/front-view-doors-open.jpg" alt="Front View Doors Open" /></a></center>

<p>Trunk is very clean:</p>

<center><a href="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/rear-view-doors-open.jpg"><img src="http://meredithmcghan.com/media/for-sale/2005-saturn-ion/thumbs/rear-view-doors-open.jpg" alt="Rear View Doors Open" /></a></center>

<p><i>(Note: Odd fact about Saturn Ions: the battery is in the back.  Main impact is you may have to empty the trunk when you're getting a jump.)</i></p>

<h2>Summary</h2>

<p>So to sum up, it's a mechanically functional (and cosmetically average) 8-year-old car.  Full records included.  Located 2 mi south of downtown Austin on East Riverside.  Test drive with proof of insurance and current driver's license.  Asking $3,000 for it, and PLEASE mention if you plan on offering less even if as shown...otherwise I won't sell it to you.  Thanks!</p>

<p>Email me at <b><tt>meredithmcghan@gmail.com</tt></b></p>

{% endblock %}