{% extends "sidebar-base.html" %}

{% block title %}Saturn Ion 2005{% endblock %}

{% block leftcolumn %}

<h1>2005 Saturn Ion</h1>
<p>I'm selling my car. It's a manual transmission, in average condition but drives well and has 80000 miles. I can provide all the service records and the Carfax report from when I bought the car in 2009.</p>

<p>Issues include:</p>

<ul>
<li>Minor cosmetic damage from an accident I had in early 2011</li>
<li>Paint damage on rear bumper from an unknown assailant</li>
<li>Key scratches on driver's side from an unknown assailant</li>
<li>Radio works but CD player does not</li>
<li>Not very visible cosmetic damage to front driver's side wheel well</li>
<li>Minor staining inside</li>
<li>No floor mats</li>
</ul>
 
<p>It's a good starter car or second car. Looking for $3000 or best offer. I'm taking a loss and it's priced to sell!</p>

<p>Email me at meredithmcghan@gmail.com</p>

{% endblock %}
