{% extends "base.html" %}

{% block title %}Siemens AG Fakes the News{% endblock %}

{% block body %}
<h2>Siemens AG Fakes the News</h2>
<h3>From NVToday.com January 2006</h3>

<p>Las Vegas ABC affiliate KTNV-13 is one of 77 local television stations under scrutiny by the Federal Communications Commission for airing corporate-sponsored video releases as if they are news. Channel 13 aired a segment early this year in which a spokesperson from the public relations company Medialink, working for the multinational corporation Siemens AG, promoted ethanol as an automobile fuel. Siemens AG is the world's top producer of ethanol fuel. Channel 13 presented the segment as news without telling viewers about the corporate source of the materials &mdash; a violation of FCC disclosure rules.</p>

<p>The Siemens fake news piece aired by Channel 13 was one of several so-called video news releases (VNRs) broadcast by stations across the country and identified in a report earlier this year by the Center for Media and Democracy and Free Press, nonprofit media watchdog groups.</p>

<p>That report prompted the FCC to send letters to the TV stations across the country. FCC Commissioner Jonathan Adelstein told the Associated Press Tuesday that the letters are seeking information about any agreements between stations and the video sponsors and whether stations receive any "consideration" for broadcasting corporate-sponsored videos masquerading as news.</p>

<p>"You can't tell any more the difference between what's propaganda and what's news," Adelstein told the AP.</p>

<p>Fake news has arisen in the wake of the weakening influence of commercials. During breaks in favorite TV shows, most people mute the TV, take bathroom breaks, run to the kitchen for a snack, or turn back to their reading material. And the advent of Tivo has made TV commercials obsolete for some, much as satellite radio has with on-air ads.</p>

<p>Corporations have become wily in their response. According to a January Harris poll cited in CMD's April report, television news is where as much as 75 percent of American adults get information about what is going on in the world. What better vehicle than the news to promote one's product? People won't even realize they're being sold on something &mdash; after all, it's coming from a supposedly objective source of information.</p>

<p>For the stations, the motivation is simple, according to Free Press. "VNR's are free. Reporting news that's meaningful to local communities isn't. By opting to air a VNR instead of sending a reporter into the field, station owners save a fortune."</p>

<p>The 77 stations under FCC investigation are thought to represent only a small portion of those who air video news releases (VNRs).</p>

<p>"CMD's ongoing research indicates that TV stations will not disclose VNRs, unless and until the FCC takes action," said CMD senior researcher Diane Farsetta. "We hope that its investigation will lead the FCC not only to sanction known offenders, but also to strengthen disclosure requirements."</p>

<p>Channel 13 is owned by Journal Broadcast Group, which owns 11 local television stations and more than 35 radio stations across the country.</p>

<p>When the April CMD report first brought the VNR to the company‘s attention, "we deemed it unacceptable," Jim Thomas, a company spokesman, said Thursday. "We restated our policy that we don't broadcast [VNRs] in news. We don't take them as commercials either. I have never heard of us broadcasting a paid message."</p>

<p>Thomas said he had not seen a letter from the FCC, so he could not comment further.</p>

{% endblock %}
