{% extends "base.html" %}

{% block title %}Radiskull and Devil Doll Kick It Some More{% endblock %}

<h2>Radiskull and Devil Doll Kick It Some More</h2>
<h3>Published Jan. 12, 2001 at zap2it.com</h3>

<p>More than 10,000 viewers since September of 1999 have gone to http://www.shockwave.com to see the escapades of that cute-and-evil duo, Radiskull and Devil Doll. The Radiskull, a punk-rock disembodied skull with a bandanna and purple mohawk, and his little buddy Devil Doll (too cute to be really evil—not!) appear in six episodes of one of the growing group of Internet animations that are gaining fans exponentially.</p>

<p>It's easy to get just as addicted to watching "R&amp;DD's" adventures and hearing their raps as Radiskull is to his "boiling hot" (just the way he likes it) cup of coffee. In the course of the six episodes, Radiskull and Devil Doll have terrified a nerd in a goofy sweater who has the nerve to hand out fruit on Halloween; expressed their disgust for snow, and "kicked it" every time with a jammin' song.</p>

<p>A romantic subplot is developing too—the motorcycle-riding Devil Doll is torn between Candy Angel, a doll-like resident of Heaven, and a femme fatale demoness named Nikki. Will Nikki hypnotize Devil Doll to do her wicked bidding, whatever it may be? Will Candy Angel brave the depths of Hades for true love? We'll find out soon, The fans, mostly college students, young families, and fellow web animators, are eagerly awaiting the seventh episode.</p>

<p>Joe Sparks, creator of the series, said in an interview January 9, "tell the public I'm not dead! Episode Seven is done and should be online in two to three weeks."</p>

<p>The episode will be four minutes and sixteen seconds and will feature a rap song that segues into rocking guitar riffs. Since the site went up, Sparks has received more than 10,000 letters -- about 50 a day -- from dedicated fans. Some of them are written by children, or adults who say their kids ask to see Radiskull and Devil Doll every time their parents turn on the computer.</p>

<p>"I get letters from little kids who write, 'I will kill you!' It's evil, but cute," Sparks said.</p>

<p>The "R&amp;DD" site includes a link to a fan page. People have sent in pictures of their Radiskull and Devil Doll tattoos; birthday cakes decorated with (as one fan put it) "The Perilous Pair"; and themselves or friends hanging with R, DD, or both in places as diverse as Egypt, Iceland, and a Dilbert-esque office.</p>

<p>The perpetually sunglasses-wearing musical and artistic mastermind now devotes all his time to the series. He's accomplished what every artist wants -- to make their art their day job. However, as Joe found out, doing what you love comes with its own challenges.</p>

<p>Come back Wednesday to find out what Sparks has in store for our dynamic duo!</p>
{% endblock %}

